@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        @apply m-0 p-0 box-border text-base outline-purple/30 duration-100;
    }

    html{
        @apply overflow-x-hidden;
    }

    body {
        @apply font-inter font-normal text-black;
    }

    i {
        @apply mt-0.5;
    }

    section{
        @apply py-4 px-[5vw] md:px-[7vw] lg:px-[10vw];
    }

    ::selection {
        @apply bg-purple/30;
    }

    img{
        @apply w-full h-full object-cover;
    }

    #root {
        @apply mx-0 p-0 w-full h-full;
    }

    /* Navigation bar CSS */
    .navbar {
        @apply bg-[#f6f7f8] h-[48px] fixed w-full z-[9999] left-0 top-0;
    }

    .container {
        @apply mx-auto w-[1280px];
    }

    .navbar-logo-wrapper {
        @apply float-left bottom-0;
    }

    .navbar-logo-wrapper 
    .navbar-logo {
        @apply bg-[#1d5167] bg-[50%] bg-no-repeat bg-[34px_auto] rounded float-left h-[30px] w-[60px] mr-[10px] my-[8px] p-[10px];
      }

    .navbar-menu {
        @apply m-0 p-0;
    }

    .navbar-menu__item {
        @apply float-left font-bold h-[46px] leading-[46px] leading-[2.875rem] overflow-hidden text-center px-[6px] py-0;
    }

    .navbar-search {
        @apply block float-right relative w-[200px];
    }

    .navbar-search 
    .search-input {
        @apply rounded-[30px] h-[30px] mr-[10px] mt-[8px] pl-[20px] pr-[50px] py-[8px] w-full;
        background-color: #e0e0e0;
        border: none;
    }

    .navbar-search 
    .search-submit {
        @apply bg-transparent h-[30px] leading-[30px] absolute text-center w-[40px] right-0 top-[8px];
        border: none;
    }

    .navbar-user {
        @apply float-right relative;
    }

    .navbar-user .login {
        @apply block float-right font-bold h-[46px] leading-[46px] overflow-hidden pl-[10px] pr-[10px];
    }

    .navbar-user .guest-menu {
        @apply cursor-pointer float-right h-[46px] w-[14px] relative ;
        padding: 10px 20px;
    }

    .navbar-user .icon {
        @apply inline-block relative top-[3px];
    }

    /*  */
    .h-cover{
        @apply min-h-[calc(100vh-80px)];
    }

    .center{
        @apply block mx-auto;
    }

    .btn-dark{
        @apply whitespace-nowrap bg-black text-white rounded-full py-3 px-6 text-xl capitalize hover:bg-opacity-80;
    }

    .btn-light{
        @apply btn-dark bg-grey text-black;
    }

    .input-box {
        @apply w-[100%] rounded-md p-4 bg-grey pl-12 border border-grey focus:bg-transparent placeholder:text-black;
    }

    input:disabled, input:disabled ~ .input-icon{
        @apply opacity-50;
    }

    .input-icon{
        @apply absolute left-4 top-1/2 -translate-y-1/2;
    }

    .link{
        @apply text-dark-grey hover:text-black hover:bg-grey p-3 px-4 block opacity-75;
    }

    .hide{
        @apply opacity-0 pointer-events-none duration-100;
    }

    .show{
        @apply opacity-100 pointer-events-auto;
    }

    .sidebar-link{
        @apply flex gap-4 items-center py-5 text-dark-grey hover:text-black;
    }

    .sidebar-link.active{
        @apply text-black border-r-2 border-black pl-6 bg-grey/50 -ml-6 md:rounded-tl-lg md:rounded-bl-lg max-md:border-none;
    }

    #textEditor h2, h2{
        @apply font-inter text-4xl leading-normal font-bold max-md:text-3xl max-md:leading-snug !important;
    }

    #textEditor h3, h3 {
        @apply font-inter text-3xl leading-loose max-md:text-2xl max-md:leading-normal !important;
    }

    #textEditor *, .blog-page-content *{
        @apply font-gelasio text-xl leading-10 md:text-2xl;
    }

    #textEditor a, .blog-page-content a{
        @apply text-purple underline hover:opacity-50;
    }

    .tag{
        @apply p-3 bg-grey rounded-full px-6 capitalize;
    }

    .blog-title{
        @apply text-2xl font-medium leading-7 line-clamp-3 sm:line-clamp-2;
    }

    .blog-index{
        @apply text-4xl sm:text-3xl lg:text-5xl font-bold text-grey leading-none;
    }
}

.ce-block__content, .ce-toolbar__content{
    max-width: 900px;
}

.cdx-settings-button[data-tune='withBorder'],
.cdx-settings-button[data-tune='withBackground'],
.cdx-settings-button[data-tune='stretched'] {
  display: none;
}